body {
  background-color: #181A1B;
}

.container-custom {
  height: 100vh;
  overflow: hidden;
}

h3 {
  position: relative;
  top: -25px;
  font-weight: 100;
  font-style: italic;
}

.jumbotron-custom {
  background-color: #232627;
  color: lightgray;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 97vh;
  position: relative;
}

.rules {
  text-align: center;
}

.rules li {
  display: inline;
  margin-right: 2rem;
}

.rules li:last-child {
  margin: 0;
}

.dashboard {
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.slot {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.slot {
  border: 1px solid gray;
}

.slot:hover {
  background-color: gray;
}

#results {
  font-size: 5rem;
  text-align: center;
}

#restart {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}

#score {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 25px;
  text-align: center;
}
